
/*Estilos por Etiqueta*/
:root{
    --fucsia: #F323C4;
    --rosa: #FFD5F6;
    --blanco: #FFF;
}
button {
    background: #F323C4;
    border-color: #F323C4;
    border: none;
}

body {
    background-color: var(--blanco);
}

h1 {
    width: 85%;
    margin: 20px auto;
}

h2 {
    font-weight: 700;
}

h1, h2 {
    text-align: center;
    color: var(--blanco);
    background-color: var(--fucsia);
}



section {
    width: 85%;
    margin: 0 auto;
}

ion-button {
    --background: var(--fucsia);
}